{{ partial "header.html" . }}
<div class="article-meta">
    <h2><span class="title">{{ .Title | markdownify }}</span></h2>
    {{ with .Params.author }}
    <h3 class="author">{{ . }}</h3>{{ end }} {{ if (gt .Params.date 0) }}
    <h3 class="date">{{ .Date.Format "2006/01/02" }}</h3>{{ end }}
    <div>
        <span id="busuanzi_container_page_pv"> 阅读量 <span id="busuanzi_value_page_pv"></span> 次</span>
    </div>
</div>

{{- partial "entry/toc.html" . }}

<main>
    {{ .Content }}
</main>

{{ partial "gitalk.html" . }}

{{ partial "footer.html" . }}

<!-- back to top -->
<a href="#top" aria-label="go to top" title="Go to Top (Alt + G)" class="top-link" id="top-link" accesskey="g">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 8" fill="currentColor">
        <path d="M12 6H0l6-6z" />
    </svg>
</a>

<script>
    var mybutton = document.getElementById("top-link");
    window.onscroll = function() {
        if (document.body.scrollTop > 800 || document.documentElement.scrollTop > 800) {
            mybutton.style.visibility = "visible";
            mybutton.style.opacity = "1";
        } else {
            mybutton.style.visibility = "hidden";
            mybutton.style.opacity = "0";
        }
    };
</script>